<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {% endblock %} - Simple long-term risk calculator</title>
        <style>
            nav a {
                color: #d64161;
                font-size: 3em;
                margin-left: 50px;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <nav>
            <a href="{{ url_for('simple_calc_page') }}">'Simple' long-term risk calculator</a>
        </nav>
        <hr>
        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </body>
</html>
