{% extends 'base.html' %}

{% block content %}
  {% if calc %}
  <h2>On your assumptions...</h2>
  <p>The probability of becoming interstellar from a pre_equilibrium state = {{ calc.net_interstellar_from_pre_equilibrium() }}</p>
  <p>The probability of becoming interstellar from a preindustrial state = {{ calc.net_interstellar_from_preindustrial() }}</p>
  <p>The probability of becoming interstellar from an industrial state = {{ calc.net_interstellar_from_industrial() }}</p>
  <p>The probability of becoming interstellar from a time of perils state = {{ calc.net_interstellar_from_perils() }}</p>
  <p>The probability of becoming interstellar from a multiplanetary state = {{ calc.net_interstellar_from_multiplanetary() }}</p>

  <br>
  <p>*****</p>
  <br>
  <p>Therefore, if we consider eventual extinction and interstellar colonisation the only two outcomes...</p>
  <p>a castatrophe that put us into a pre-equilibrium state would be {{ calc.pre_equilibrium_probability_reduction() }} as bad as an extinction event</p>
  <p>a castatrophe that put us into a preindustrial state would be {{ calc.preindustrial_probability_reduction() }} as bad as an extinction event</p>
  <p>a castatrophe that put us into an industrial state would be {{ calc.industrial_probability_reduction() }} as bad as an extinction event</p>
  <p>and if we reached a multiplanetary state, it would increase our chance of becoming interstellar by {{ calc.multiplanetary_probability_increase() }}</p>
  {% endif %}

  <h1>{% block title %} Estimate your transitional probabilities {% endblock %}</h1>

  <form action="/" method="POST">
      {{ form.csrf_token }}
      <h2>Transitions from premodern states</h2>
      <!-- Premodern -->
      {% if form.extinction_given_pre_equilibrium.errors %}
          <ul class="errors">
              {% for error in form.extinction_given_pre_equilibrium.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}

      <p>
            {{ form.extinction_given_pre_equilibrium.label }}
            {{ form.extinction_given_pre_equilibrium() }}
      </p>

      {% if form.extinction_given_preindustrial.errors %}
          <ul class="errors">
              {% for error in form.extinction_given_preindustrial.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}

      <p>
            {{ form.extinction_given_preindustrial.label }}
            {{ form.extinction_given_preindustrial() }}
      </p>

      {% if form.extinction_given_industrial.errors %}
          <ul class="errors">
              {% for error in form.extinction_given_industrial.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}

      <p>
            {{ form.extinction_given_industrial.label }}
            {{ form.extinction_given_industrial() }}
      </p>

      <!-- Present Perils -->

      <h2>Transitions from where we are in our current time of perils</h2>

      {% if form.extinction_given_present_perils.errors %}
          <ul class="errors">
              {% for error in form.extinction_given_present_perils.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}

      <p>
            {{ form.extinction_given_present_perils.label }}
            {{ form.extinction_given_present_perils() }}
      </p>


      {% if form.pre_equilibrium_given_present_perils.errors %}
          <ul class="errors">
              {% for error in form.pre_equilibrium_given_present_perils.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}

      <p>
            {{ form.pre_equilibrium_given_present_perils.label }}
            {{ form.pre_equilibrium_given_present_perils() }}
      </p>

      {% if form.preindustrial_given_present_perils.errors %}
          <ul class="errors">
              {% for error in form.preindustrial_given_present_perils.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}

      <p>
            {{ form.preindustrial_given_present_perils.label }}
            {{ form.preindustrial_given_present_perils() }}
      </p>

      {% if form.industrial_given_present_perils.errors %}
          <ul class="errors">
              {% for error in form.industrial_given_present_perils.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}

      <p>
            {{ form.industrial_given_present_perils.label }}
            {{ form.industrial_given_present_perils() }}
      </p>

      {% if form.interstellar_given_present_perils.errors %}
          <ul class="errors">
              {% for error in form.interstellar_given_present_perils.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}

      <p>
            {{ form.interstellar_given_present_perils.label }}
            {{ form.interstellar_given_present_perils() }}
      </p>



      <!-- Future Perils -->

      <h2>Transitions from the beginning of a future time of perils</h2>

      {% if form.extinction_given_future_perils.errors %}
          <ul class="errors">
              {% for error in form.extinction_given_future_perils.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}

      <p>
            {{ form.extinction_given_future_perils.label }}
            {{ form.extinction_given_future_perils() }}
      </p>


      {% if form.pre_equilibrium_given_future_perils.errors %}
          <ul class="errors">
              {% for error in form.pre_equilibrium_given_future_perils.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}

      <p>
            {{ form.pre_equilibrium_given_future_perils.label }}
            {{ form.pre_equilibrium_given_future_perils() }}
      </p>

      {% if form.preindustrial_given_future_perils.errors %}
          <ul class="errors">
              {% for error in form.preindustrial_given_future_perils.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}

      <p>
            {{ form.preindustrial_given_future_perils.label }}
            {{ form.preindustrial_given_future_perils() }}
      </p>

      {% if form.industrial_given_future_perils.errors %}
          <ul class="errors">
              {% for error in form.industrial_given_future_perils.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}

      <p>
            {{ form.industrial_given_future_perils.label }}
            {{ form.industrial_given_future_perils() }}
      </p>

      {% if form.interstellar_given_future_perils.errors %}
          <ul class="errors">
              {% for error in form.interstellar_given_future_perils.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}

      <p>
            {{ form.interstellar_given_future_perils.label }}
            {{ form.interstellar_given_future_perils() }}
      </p>




      <!-- Multiplanetary -->
      <h2>Transitions from a multiplanetary state</h2>

      {% if form.extinction_given_multiplanetary.errors %}
          <ul class="errors">
              {% for error in form.extinction_given_multiplanetary.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}

      <p>
            {{ form.extinction_given_multiplanetary.label }}
            {{ form.extinction_given_multiplanetary() }}
      </p>

      {% if form.pre_equilibrium_given_multiplanetary.errors %}
          <ul class="errors">
              {% for error in form.pre_equilibrium_given_multiplanetary.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}

      <p>
            {{ form.pre_equilibrium_given_multiplanetary.label }}
            {{ form.pre_equilibrium_given_multiplanetary() }}
      </p>

      {% if form.preindustrial_given_multiplanetary.errors %}
          <ul class="errors">
              {% for error in form.preindustrial_given_multiplanetary.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}

      <p>
            {{ form.preindustrial_given_multiplanetary.label }}
            {{ form.preindustrial_given_multiplanetary() }}
      </p>

      {% if form.industrial_given_multiplanetary.errors %}
          <ul class="errors">
              {% for error in form.industrial_given_multiplanetary.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}

      <p>
            {{ form.industrial_given_multiplanetary.label }}
            {{ form.industrial_given_multiplanetary() }}
      </p>

      {% if form.future_perils_given_multiplanetary.errors %}
          <ul class="errors">
              {% for error in form.future_perils_given_multiplanetary.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      {% endif %}

      <p>
            {{ form.future_perils_given_multiplanetary.label }}
            {{ form.future_perils_given_multiplanetary() }}
      </p>

      <p><input type="submit" value="submit" /></p>
  </form>

{% endblock %}
